@media only screen and (min-width:320px)and (max-width:575px){
    .container{
        width: 90%;
 
        
    }
    .topbar_inner{
     display: flex;
     justify-content: space-between;
    }
    .hay-btn,
    .topbar_item{
        position: absolute;
    }
   
    .abt_img img{
        max-width: 100%;
    }
    .services_bag{
        width: 100%;
    }
    .services_item{
        margin-bottom: 50px;
    }
    .header_section{
        margin-top: 0;
        border-bottom: 2px dotted #fff; 
        margin-bottom: 30px;}
    .hay-btn .topbar_right a{
        display: none;
    }
    .topbar_item ul li {
        display: none;}

    .header_img img {
        width: 90%;
    }
    .services_bag{
     width: 320px;
    height: 485px;
    }
    .services_item img {
        width: 95%;
    }
    .contact_info input,
    .contact_item textarea{
        width: 90%;
    }
    .about_inner{
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        flex-direction: column-reverse;
    }
    .header_inner{
        margin-top: 0;
    }
   .header_inner,
   
   .services_inner,
   .target-inner{ 
    
        grid-template-columns: 1fr;
    }
   .clints_inner{ 
    
        grid-template-columns: 1fr 1fr;
    }
    .contact_inner {
        grid-template-columns: 1.5fr 
    }
    .menu-bar{
        display: inline-block;
     } 
    
     .about_dis p,
     b,
    .header_item p{
        font-size: 15px;
    }
        
    .header_item h1{
         font-size: 30px;
    }
    .logo h1{
        font-size: 30px;
    }
    .btn-primary a{
        width: 95px;
        margin-bottom: 30px;
    }
    .next-sup-inner img {
        height: 100px;
        width: 50%;
    }
    .next-sup-item{
        flex-direction: column;
    }
    .header-name{
        text-align: left !important;
    }
  

}




@media only screen and (min-width:576px)and (max-width:768px){
    
    .container{
        width: 97%;
        margin: 0 auto;
    }
    .mobile-menu {
        margin-left: 300px;
    }
    .header_section{
        margin-top: 0;
        border-bottom: 2px dotted #fff;
         margin-bottom: 30px;}
    .topbar_item .topbar_right a{
        display: none;
    }
    .topbar_item ul li {display: none;}
    .header_img img {
        width: 75%;
    }
    .clints_item img {    width: 90%;}
    
      
    
   .header_inner{ display: grid;
        grid-template-columns: 1fr;
    }
    .header_item h1{margin-top: 0;}
    .about_inner{
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        flex-direction: column-reverse;
    }
    .btn-primary{
        margin-bottom: 50px;
    }
    .abt_img{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
      
    }
    .abt_img img {
        max-width: 75%;
    }
   
   .services_inner{
     display: grid;
    grid-template-columns: 1fr 1fr;
    }
    .services_bag{
        height: 420px;
        width: 315px;
     
    }
    .services_item img{
        width: 95%;
        height: 200px;
    }
    .services_item{
        margin-bottom: 50px;
    }
   .clints_inner{ display: grid;
        grid-template-columns: 1fr 1fr;}
    .contact_inner {
        display: grid;
        grid-template-columns: 1.5fr }
     form {
        display: flex;
        justify-content: center;
     }
     .menu-bar{
         display: inline-block;
     } 
     .hay-btn .topbar_right a{
        display: none;
    }

}



@media only screen and (min-width:769px)and (max-width:1024px){
    .container{
        max-width: 96%;
    }
    .topbar_item ul li {
        font-size: 18px;
    }
    .about_inner{
        grid-template-columns: 46% 54%;
    }
    .about_btn{
        margin-top: 20px;
    }
    .services_item{
        margin-bottom: 50px;
    }
    .header_item h1{
        margin-top: 0;
    }
    .services_bag{
        width: 350px;
        height: 490px;
    }
    .services_item img{
        width: 95%;
    }
   
    .hay-btn .topbar_right {
        display: none;
    }
    
    

}







